.filter-menu-button {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-main-black);
    padding: 6px 8px;
}

.filter-menu-button i {
    font-size: 18px;
}

.filter-menu-button span {
    margin-left: 8px;
    font-size: 1rem;
}