.password-visibility-toggler {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 32px;
    height: 32px;
    transform: translateY(-5px);
    border-radius: 50%;
    font-size: 18px;
    color: var(--color-main-dark-grey);
}

.password-visibility-toggler:hover {
    cursor: pointer;
    opacity: 0.55;
    background-color: var(--color-light-grey);
}