.product-grid {
    padding: 16px 0 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 3%;
}

@media (min-width: 550px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1170px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}