.remove-item-control {
    flex-basis: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.remove-item-control i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translateY(-4px);
}

.remove-item-control i:hover {
    cursor: pointer;
    opacity: 0.55;
    background-color: var(--color-light-grey);
}

@media (min-width: 992px) {
    .remove-item-control {
        align-items: flex-start;
        order: 4;
    }
}